<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog - Register</title>
</head>
<body>
    <center>
        <table>
           <h1>Register Here</h1>
           {% for message in messages %}
           <span>{{message}}</span>
           {% endfor %}
           <form action="/register/" method="POST">
            <tr>
                <td>First_Name:</td>
                <td>
                    <input type="text" name="fname">
                </td>
            </tr>
            <tr>
                <td>Last_Name:</td>
                <td>
                    <input type="text" name="lname">
                </td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>
                    <input type="text" name="email">
                </td>
            </tr>
            <tr>
                <td>Password:</td>
                <td>
                    <input type="password" name="password">
                </td>
            </tr>
            <tr>
                <td>UserName:</td>
                <td>
                    <input type="text" name="username">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Register">
                </td>
                <td>
                    Already a Member? <a href="/">Login</a>
                </td>
            </tr>
        </table>
    </center>
</body>
</html><html> </html>>

